.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.content {
  display: flex;
  flex: 1;
  overflow: auto; /* This is important for layout to work */
  padding-bottom: 112px;
}

.bottom-navigation {
  height: 56px;
  flex-shrink: 0;
}

.bottom-navigation-mobile {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  height: 56px;
  z-index: 777;
}
